<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Comics Crafter</title>
<link href="/css/form.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nabla&family=Poppins:wght@300;600&display=swap"
	rel="stylesheet">
</head>
<body>
	<nav>
			<a href="/">Home</a>
			<a href="/registration"> Register</a>
			<a href="/user_list"> User List </a>
			<a href="/project_list"> Project List </a>
			<a href="/printing_list"> Printing Methods </a>
			<a href="/paper_list"> Paper List </a>
	</nav>
  <div class="container">
  		<div id=logo>
			<h1>The 6th Wall</h1>
		</div>
           
           <form th:action="@{/login}" method="POST">
           <h1>Login</h1>
              <div th:if="${param.error}">
                 <div class="alert alert-danger">Invalid username or
                    password.</div>
              </div>
              <div th:if="${param.logout}">
                 <div class="alert alert-info">You have been logged out.</div>
              </div>
              <div class="form-group">
                 <label for="username">Email</label><div><input type="text"
                    id="username" name="username" class="form-control"
                    autofocus="autofocus" placeholder="Username" /></div>
              </div>
              <div class="form-group">
                 <label for="password">Password</label><div><input type="password"
                    id="password" name="password" class="form-control"
                    placeholder="Password" /></div>
              </div>
              <div class="form-group">
                 <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                       <input type="submit" name="login-submit" id="login-submit" value="Log In" />
                    </div>
                 </div>
              </div>
              <div class="form-group">
                 <span>New user? <a href="/" th:href="@{/registration}">Register
                       here</a></span>
              </div>
           </form>
        </div>

</body>
</html>