<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Comics Crafter</title>
<link href="/css/form.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Nabla&family=Poppins:wght@300;600&display=swap"
	rel="stylesheet">
</head>
</head>
<body>
	<nav>
			<a href="/">Home</a>
			<a href="/registration"> Register</a>
			<a href="/user_list"> User List </a>
			<a href="/project_list"> Project List </a>
			<a href="/printing_list"> Printing Methods </a>
			<a href="/paper_list"> Paper List </a>
	</nav>
			<div id=logo>
			<h1>The 6th Wall</h1>
		</div>
		<form action='#' th:action="@{/save_project}" th:object="${project}"method="POST">
			<input type="number" th:field="*{pages}" placeholder = "Pages"> 
			<input type="text" th:field="*{print_format}" placeholder = "Print Format"> 
			<input type="text" th:field="*{height}" placeholder = "Height">
			<input type="text" th:field="*{width}" placeholder = "Width">
			<input type="text" th:field="*{binding_style}" placeholder = "Binding Style"> 
			<input type="text" th:field="*{additional_features}" placeholder = "Additional Features"> 
			<input type="text" th:field="*{description}" placeholder = "Description">
			<input type="text" th:field="*{sale_price}" placeholder = "Sale Price">
			<input type="text" th:field="*{cost_to_produce}" placeholder = "Cost to produce"> 
			<input type="number" th:field="*{completion_status}" placeholder = "Completion Status"/> 
			<div><button type="submit">Create New Project</button></div>
		</form>
</body>
</html>