<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Comics Crafter</title>
</head>
<body>
	<div>
		<h1>Update User</h1>
		<hr>
		<h2>Update User</h2>

		<form action='#' th:action="@{/save_user}" th:object="${user}"method="POST">
			<input type="hidden" th:field="*{user_id}"/>
			<input type="text" th:field="*{username}"> 
			<input type="text" th:field="*{password}"> 
			<input type="text" th:field="*{email}">
			<button type="submit">Update</button>
		</form>
	</div>
</body>
</html>
