<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Comics Crafter</title>
</head>
<body>
	<div>
		<h1>Update Printing Method</h1>
		<hr>
		<h2>Update Printing Method</h2>

		<form action='#' th:action="@{/save_printing}" th:object="${printing}"method="POST">
			<input type="hidden" th:field="*{printing_process_id}"/>
			<input type="text" th:field="*{ink}"> 
			<input type="text" th:field="*{ink_color}"> 
			<input type="text" th:field="*{time_per_copy}">
			<button type="submit">Update</button>
		</form>
	</div>
</body>
</html>
